body {
	@apply font-sans bg-shark-100 text-shark-700 dark:bg-shark-500 dark:text-shark-100 overflow-x-hidden;
}

a:not(.draggable),
img {
	-webkit-user-drag: none;
	-webkit-user-select: none;
}

#__next {
	@apply max-w-[100vw] overflow-x-hidden;
}
